<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso de VueJS</title>
</head>

<body>

    <div id="app">
        <h1> {{title}} </h1>

        <label>ID</label>
        <input type="text" v-model="contact.id">
        <br>

        <label>Name</label>
        <input type="text" v-model="contact.name">
        <br>
        <label>Phone</label>
        <input type="text" v-model="contact.phone">
        <br>

        <label>Email</label>
        <input type="text" v-model="contact.email">
        <br>

        <label>Gender</label>
        <input type="radio" value="male" v-model="contact.gender">Male
        <input type="radio" value="female" v-model="contact.gender">Female
        <br>

        <hr>

        <label>Where did you see this app?</label><br>
        <input type="checkbox" v-model="contact.seen_on" value="google">Google
        <input type="checkbox" v-model="contact.seen_on" value="whatsapp"> Whatsapp
        <input type="checkbox" v-model="contact.seen_on" value="facebook"> Facebook
        <input type="checkbox" v-model="contact.seen_on" value="instagram"> Instagram
        <br>

        <button> DONE </button>

        <hr>
        ID: {{ contact.id }}<br>
        Name: {{ contact.name }}<br>
        Phone: {{ contact.phone }}<br>
        e-mail: {{ contact.email }}<br>
        Gender: {{ contact.gender }}<br>
        Seen On: {{ contact.seen_on }}<br>

        
        <div v-if="contact.name == 'David Sodré Lins'">
            ID: {{ contact.id }}<br>
            Name: {{ contact.name }}<br>
            Phone: {{ contact.phone }}<br>
            e-mail: {{ contact.email }}<br>
            Gender: {{ contact.gender }}<br>
            Seen On: {{ contact.seen_on }}<br>
            {{message_success +" the contact id is: "+contact.id}}
        </div>
        <div v-else>{{message_error}}</div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
    <script src="vuejs.js"> </script>

</body>

</html>